.system-information{
    background: url('../images/background/circle-scatter-haikei.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.system-information p {
    max-width: 1000px;
    font-size: 40px;
}

.form-wrapper {
    width: 40%;
    max-height: 100%;
    overflow-y:auto;
}

.bg-login{
    background: url('../images/logo/vaccilog.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 1200px) {
    .form-wrapper {
        width: 100vw;
    }
}

@media (max-width: 992px) {
    .system-information p {
        max-width: 500px;
        font-size: 30px;
    }
}