/* --- INFORMATION CONTAINER --- */
.page {
    background-color: white;
} 

/* --- HEADER --- */

/* --- BURGUER BUTTON --- */
.burger-button {
    width: 40px;
    height: 40px;
    z-index: 10;
}

.burger-button > .linha {
    width: 100%;
    height: 2px;
} 

/* ----------- SIDE BAR --------- */
.side-bar {
    z-index: 10;
    transition: all 1s;
    transform: translateX(-100%);
    width: 20%;
}

.side-bar > ul > li:hover, .active {
    background-color: #0b5bd4;
    box-shadow: 1px 1px 2px rgb(22, 22, 22); 
}

.side-bar-active {
    box-shadow: 2px 2px 2px rgb(66, 66, 66);
    transform: translateX(0%); 
}

/* ------------------------------ */